@use "../utils/variables" as *;

.footer {
  padding: 50px 0;
}

@media (min-width: 1000px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__rights {
  font-size: 14px;
  margin-bottom: 32px;
  opacity: 0.7;
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;

  @media (min-width: 1000px) {
    flex-direction: row;
  }
}

.address__link {
  font-size: 16px;
  font-style: normal;
  transition: color 0.25s linear;

  &:hover,
  &:focus {
    color: $colorOrange;
  }
}

.soc__list {
  display: flex;
  gap: 12px;
}

.soc__item {
  position: relative;
}

.soc__item:nth-child(2)::before {
  position: absolute;
  top: 14px;
  left: -8px;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: $colorWhite;
  opacity: 0.7;
}

.soc__item:nth-child(2)::after {
  position: absolute;
  top: 14px;
  right: -8px;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: $colorWhite;
  opacity: 0.7;
}

.soc__link {
  font-size: 16px;
  opacity: 0.7;
  transition: color 0.25s linear;

  &:hover,
  &:focus {
    color: $colorOrange;
  }
}
