@use "../utils/variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a,
*::before,
*::after {
  display: inline-block;
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  color: $colorWhite;
  background-color: $colorBlack;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}
