$colorWhite: #ffffff;
$colorBlack: #000000;
$colorBlue: #52cdff;
$colorYellow: #ffff00;
$colorRed: #dd1a1a;
$colorBackdrop: rgba(0, 0, 0, 0.6);
$colorGray: #808080;
$colorOrange: #ffa500;
$colorBrown: #a52a2a;
$colorLemon: #f9e854;